

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* ===== SF Pro Display ===== */
/* @font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplayRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplayMedium.otf') format('opentype');
  font-weight: 400, 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplayBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Áp dụng font mặc định cho toàn app */
* {
  font-family: 'SF Pro Display', sans-serif !important;
}
